//   /* Create two columns/boxes that floats next to each other */
.imageholder img {
  float: left;
  height: 40px;
  background: #ccc;
}

article{
  margin-left: 2rem;
}

.left-section, .right-section{
  margin: 2rem;
}

.buttons{
  margin-top: 1rem;
}

#VR, #AI, #RMIT, #Rails, #ML{
  color: orange;
}

.button {
  border: 1px solid gray;
  color: blue;
  background-color: white;
  margin: 0.5rem;
  text-align: center;
  text-decoration: none;
  text-decoration-line: none;
  display: inline-block;
  border-radius: 40%;
  height: 3rem;
  width: 7rem;
  line-height: 2rem;
}

.button:hover, .button:active {
  border: 1px solid gray;
  color: purple;
  background-color: white;
  margin: 0.5rem;
  text-align: center;
  text-decoration: none;
  text-decoration-line: none;
  display: inline-block;
  border-radius: 40%;
  height: 3rem;
  width: 7rem;
  line-height: 2rem;
}

.nav-search{
  background-color: white;
  text-align: left;
  height: 3rem;
  line-height: 30px;
  border: 0.1px solid #cfd190;
  margin-left: 2rem;
  margin-right: 4rem;
}

.top-buttons{
  font-size: 12px;
}

.button-section{
  background-color: white;
  margin-bottom: 2rem;
  text-align: center;
  height: 3rem;
  line-height: 30px;
  border: 0.1px solid #cfd190;
}

.new-post-button{
  background-color: #006400;
  text-align: center;
  height: 3rem;
  line-height: 33px;
  float: right;
  color: white !important;
}

.article-content{
  display:flex;
  flex-flow:row nowrap;
  padding:16px;
  margin-bottom: 0.1rem;
  background-color:#FFF;
}

.recent-members, 
.topics, 
.post, 
.links{
  background-color:#FFF;
  margin: 1rem;
  padding: 2rem !important;
}

.member-content{
  display:flex;
  flex-flow:row nowrap;
  padding:16px;
}

.member-uname{
  font-size: 10px;
  text-align: center;
}

.small-header {
  text-align: left;
  background: rgb(226, 226, 226);
  color: #000;
  font-size: 14px;
  padding: 0.5rem 0rem 0.5rem 2rem;
}
