<footer class="footer">
      <div class="container-fluid">
      <div class="footer-content">
              <copyright>
                 Copyright &copy; <%= Time.now.year %> | Powered by s3679389 - s3432636
              </copyright>
              </div>
      </div>
</footer>